*{box-sizing: border-box;
    orientation:landscape;
}

body{
    margin: 0%;
    background-color: black;
}

/* ul{
    padding-top: 7%;
    padding-left: 0%;
    /* padding-right: 0%; */
/* } */ */


.tarjeta{
    width: 100%;
    padding: 0%;
    padding-right: 0%;
    padding-top: 50px;
    /* border-radius: 10px; */
}

.header{
    background-color: #000d1e;
    height: 100px;
}
.center{
    margin: auto;
    width: 55%;
}
.acomodar{
    float: left;
    margin-top: 17px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: Calibri;

}

.enblanco{
    color: white;
}

.acaEstanLasTarjetas {
    clear: both;
}
.boton{
    align-items: center;
    margin-top: 15px;
    margin-right: 10px;
    width: 170px;
    height: 25px;
    background-color: #F0E6D5;
    border-radius: 7px;
    border-width: 0px;
    font-size: 15px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-family: Calibri;

}

.input{
    border-radius: 5px;
    height: 23px;
    font-family: Calibri;
    text-align: center;
    width: 80px;
    border-width: 2px;
    border-style: groove;
}
.botonn{
    margin-left: 5px;
    margin-bottom: 3px;
    width: 100px;
    height: 28px;
    background-color: #000d1e;
    border-radius: 7px;
    border-width: 0px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.ache1{
    background-color:black;
    text-align: center;
    font-family: verdana;
    color: #F0E6D5;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 10px;
}
.titulo{
    margin-top: -5px;
}

html{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-left: 0%;
    margin-left: 0%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
  }

.rowbody{
 padding-top: 100px;
}

.tarjeta-text{
    /* width: 32%; */
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 17px;
    color: #0c1520a8;
    background-color: #F0E6D5;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 10px;
    float: left;
    border-radius: 5px;
    font-family: Calibri;
    font-weight: bold;
}
.borrar{
    width: 20px;
    height: 20px;
    background-color:rgb(172, 47, 47);
    border-radius: 7px;
    border-width: 0px;
    margin: 5px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    float: right;
    padding-bottom: 20px;
}
/* .x{
    width: 100%;
    text-align: end;
    padding-left: 380px;
} */
.buttonDetalle{
    align-items: center;
    margin-top: 5px;
    width: 100px;
    height: 32px;
    background-color: #0c1520a8;
    border-radius: 7px;
    border-width: 0px;
    font-family: Calibri;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.buttonNoDetalle{
    align-items: center;
    margin-top: 0px;
    margin-left: 5px;
    width: 120px;
    font-family: Calibri;
    height: 32px;
    background-color: #0c1520a8;
    border-radius: 7px;
    border-width: 0px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

footer{
    background-color: black;
    text-align: center;
    font-family: verdana;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0%;
}

a{
    color:#F0E6D5; 
    text-decoration: none;
    font-family: Calibri;
    font-size: 18px;
}

.App{
    padding-left: 0%;
    width: 100%;
}

img{
    width: 90%;
    margin: 0;
    margin-top: 20px;
    border-radius: 5px;
}
.image{
    margin: 0;
}
.words{
    width:100%;
}





